{#
/**
 * @file post.html.twig
 * Default theme implementation to present Post data.
 *
 * This template is used when viewing Post pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_post()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stream-item') }}>
  <i class="stream-icon"> </i>
  <div class="card stream-card">
    <div class="card-body">
      <div class="media">
        <div class="media-left">
          {% if content.author_picture %}
            {{ content.author_picture }}
          {% endif %}
        </div>
        <div class="media-body">
          <h5 class="media-heading">
              {% if content.user_id %}
                {{- content.user_id -}}
              {% endif %}
            <br><small>{{ date }}</small></h5>
        </div>
      </div>
      <p class="margin-top-s">
        {% if content.field_post %}
          {{- content.field_post -}}
        {% endif %}
      </p>
      <div class="card-nested-section">
        {% if content.field_post_comments %}
          {{ content.field_post_comments }}
        {% endif %}
        <div class="margin-top-s text-center"><a href="single-post.html" class="btn btn-default">show all 5 comments</a></div>
      </div>
    </div>
  </div>
</div>
