  {#
  /**
  * @file post.html.twig
  * Default theme implementation to present Post data.
  *
  * This template is used when viewing Post pages.
  *
  *
  * Available variables:
  * - content: A list of content items. Use 'content' to print all content, or
  * - attributes: HTML attributes for the container element.
  *
  * @see template_preprocess_post()
  *
  * @ingroup themeable
  */
  #}

<div class="stream-item">
  <i class="stream-icon"></i>

  <div class="card stream-card">
    <div class="card-body extra-padding">
      <div class="media">
        <div class="media-left">
          {% if content.author_picture %}
            {{ content.author_picture }}
          {% endif %}
        </div>
        <div class="media-body">
          <h5 class="media-heading">
            {% if content.user_id %}
              {{- content.user_id -}}
            {% endif %}
            <small>{{ date }}</small>
          </h5>
          {% if content.links %}
          <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="btn btn-icon-toggle dropdown-toggle"><i class="material-icons">mode_edit</i></button>
            {{ content.links }}
          </div>
          {% endif %}
        </div>
      </div>
      <p class="margin-top-s">
        {% if content.field_post %}
          {{- content.field_post -}}
        {% endif %}
      </p>
      <div class="card-nested-section">
        {% if content.field_post_comments %}
          {{ content.field_post_comments }}
        {% endif %}
        <div class="margin-top-m text-right"><a href="single-post.html" class="btn btn-link">show all 5 comments<i class="material-icons">chevron_right</i></a></div>
      </div>
    </div>
  </div>

</div>
