{{ attach_library('core/drupal.dialog.ajax') }}
{{ attach_library('social_post_album/social-post-album--popup') }}

<div class="row social-post-album--popup">
  <div class="social-post-album--popup-slider">
    <div class="social-post-album--popup-slider-wrapper">
      {% for index, item in items %}
        {% for url in item.urls %}
          <div class="post-index-{{ index }} social-post-album--popup-item" data-med="{{ url }}">
            <img src="{{ url }}">
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  {% for index, item in items %}
    <div class="post-comment-wrapper post-index-{{ index }}">
      <div class="post-message">
        <div class="post-header">
          {% trans %}Images posted in album <b>{{ album }}</b>{% endtrans %}
        </div>
        {{ item.post }}
      </div>
    </div>
  {% endfor %}

</div>
