{#
/**
* @file post.html.twig
* Default theme implementation to present Post data.
*
* This template is used when viewing Post pages.
*
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* - attributes: HTML attributes for the container element.
*
* @see template_preprocess_post()
*
* @ingroup themeable
*/
#}

{{ attach_library('socialbase/comment') }}
{{ attach_library('socialbase/page-node')}}

{%
  set classes = [
    'margin-top-m',
    'iframe-container',
    logged_in ? 'margin-bottom-m',
  ]
%}

{% if content.links %}
  {{ content.links }}
{% endif %}

<div{{ attributes.addClass(classes) }}>


  {{ content|without('links', 'field_post_comments', 'like_and_dislike', 'field_post_image', 'user_id') }}

  {% if content.field_post_image|render %}
    <p>{{ content.field_post_image }}</p>
  {% endif %}

  <div class="clearfix"></div>
  {{ content.like_and_dislike }}

</div>

{% if logged_in %}
  <div class="card__nested-section">
    {{ content.field_post_comments }}
  </div>
{% endif %}
