{#
/**
* @file post-activity-comment.html.twig
* @deprecated
*
* The template is not used anymore since comments are aggegrated with
* the post itself. If a developer disables aggegration of comments
* this template will be used again.
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* - attributes: HTML attributes for the container element.
*
* @see template_preprocess_post()
*
* @ingroup themeable
*/
#}
{{ attach_library('socialbase/comment') }}

{%
  set classes = [
    'margin-top-s',
    logged_in ? 'margin-bottom-m',
  ]
%}

  <hr class="ruler-sm">

  <div class="media">
    <div class="media-left avatar">
      {% if author_picture %}
        {{ author_picture }}
      {% endif %}
    </div>
    <div class="media-body">
      <div class="media-heading text-m">
        {% if content.user_id %}
          {{ content.user_id }}
        {% endif %}
        <div class="post-date">{{ date }}
            {% if visibility_icon and visibility_label %}
              <svg class="margin-left-s icon-visibility">
                <use xlink:href="#icon-{{ visibility_icon }}"></use>
              </svg>
              <strong>{{ visibility_label }}</strong>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

<div{{ attributes.addClass(classes) }}>
  {% if content.field_post %}
    {{ content.field_post }}
  {% endif %}
</div>
