  {#
  /**
  * @file post.html.twig
  * Default theme implementation to present Post data.
  *
  * This template is used when viewing Post pages.
  *
  *
  * Available variables:
  * - content: A list of content items. Use 'content' to print all content, or
  * - attributes: HTML attributes for the container element.
  *
  * @see template_preprocess_post()
  *
  * @ingroup themeable
  */
  #}

<div class="card">
  <div class="card-body extra-padding">
    <div class="media">
      <div class="media-left">
        {% if author_picture %}
          {{ author_picture }}
        {% endif %}
      </div>
      <div class="media-body">
        {% if content.links %}
          {{ content.links }}
        {% endif %}
        <div class="media-heading text-m">
          {% if content.user_id %}
            {{ content.user_id }}
          {% endif %}
          <div class="post-date">{{ date }}</div>
        </div>
      </div>
    </div>
    <div class="margin-top-s">

      {% if content.field_post %}
        {{ content.field_post }}
      {% endif %}

      {% if content.like_and_dislike %}
        {{ content.like_and_dislike }}
      {% endif %}
    </div>

    <div class="card-nested-section">
      {% if content.field_post_comments %}
        {{ content.field_post_comments }}
      {% endif %}
    </div>
  </div>
</div>
