<article{{ attributes.addClass('js-comment media-wrapper') }}>
    <div class="media">

        <div class="media-left">
            {{ author_picture }}
        </div>

        <div class="media-body">
            <h6 class="media-heading">
                {{ author }}
                <br />
                <small>{{ submitted }}</small>
            </h6>

            <p>{{ content }}</p>

        </div>
    </div>

</article>
