{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/comment')}}
<div class="card">
  <div class="card__block">

    <form{{ attributes.addClass('margin-top-s comment') }}>
      <div class="comment__avatar">{{ author_picture }}</div>
      <div class="comment__content">
        <div>
          {{ children }}
        </div>
        <div class="help-block">{% trans %} Submitted {% endtrans %} {{ submitted }}</div>
      </div>
    </form>


  </div>
</div>
