{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/comment')}}

{%
    set classes = [
        'js-comment',
        'comment',
        'comment-form__wrapper',
    ]
%}

{# wrap our form for reply forms with indentation classes added in form.inc #}
{% if comment_reply_form_wrapper is not empty %}
<div {{ comment_reply_form_wrapper }}>
{% endif %}

<div {{ comment_wrapper.addClass(classes) }}>
  <div class="comment__avatar">{{ current_user_picture }}</div>
  <div class="comment__content">
    <form{{ attributes }}>
      <div class="form-group-inline">
        {{ children }}
      </div>
    </form>
  </div>
</div>

{% if comment_reply_form_wrapper is not empty %}
</div>
{% endif %}