{% if page.header %}
  {{ page.header }}
{% endif %}

{% if not page.secondary_navigation %}
  <main id="content" class="main-container" role="main">
{% else %}
  <main id="content" class="main-container is-navbar-secondary" role="main">
{% endif %}

  {#{% if page.breadcrumb %}#}
    {#{{ page.breadcrumb }}#}
  {#{% endif %}#}

  {% if page.hero %}
    {{ page.hero }}
  {% endif %}

  {% if page.content_top %}
    {{ page.content_top }}
  {% endif %}

  {# Content attributes, see Style guide Templates for documentation #}
  {% block section %}
    <section{{ content_attributes }}>

      {% if page.title and display_page_title %}
        {{ page.title }}
      {% endif %}

      {% if page.secondary_navigation %}
        {{ page.secondary_navigation }}
      {% endif %}
      <div class="content--wrapper">
        {% if page.complementary_top or page.complementary_bottom %}
          <aside class="region--complementary" role="complementary">
            <div class="region--complementary_wrapper">
              {% if page.complementary_top %}
                {{ page.complementary_top }}
              {% endif %}
              {% if page.complementary_bottom %}
                {{ page.complementary_bottom }}
              {% endif %}
            </div>
          </aside>
        {% endif %}

        {% block content %}
          <a id="main-content" tabindex="-1"></a>

          <div class="content--side">
            {{ page.content }}
          </div>
        {% endblock %}
      </div>

      {# an extra check for complementary regions to be empty #}
      {% if page.sidebar_first and not page.complementary_top and not page.complementary_bottom %}
        {% block sidebar_first %}
          {{ page.sidebar_first }}
        {% endblock %}
      {% endif %}

      {# an extra check for complementary regions to be empty #}
      {% if page.sidebar_second and not page.complementary_top and not page.complementary_bottom %}
        {% block sidebar_second %}
          {{ page.sidebar_second }}
        {% endblock %}
      {% endif %}

    </section>
  {% endblock %}

  {% if page.content_bottom %}
    {{ page.content_bottom }}
  {% endif %}

</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
