{{ attach_library('social_event_an_enroll/event_an_enroll') }}

<div{{ attributes.addClass('event_an_enroll','row') }}>
  <div class="col-md">
    <h5>{% trans %}Enroll with account{% endtrans %}</h5>
    <p><a class="btn-lg btn btn-primary" href="{{ links.register.uri }}" title="{% trans %}Sign up{% endtrans %}">{% trans %}Sign up{% endtrans %}</a>
    <a class="btn-lg btn btn-default" href="{{ links.login.uri }}" title="{% trans %}Login{% endtrans %}">{% trans %}Log in{% endtrans %}</a></p>
  </div>
  <div class="col-md">
    <h5>{% trans %}Enroll without account{% endtrans %}</h5>
    <p><a class="btn-lg btn btn-accent" href="{{ links.guest.uri }}" title="{% trans %}Sign up as guest{% endtrans %}">{% trans %}Sign up as guest{% endtrans %}</a></p>
  </div>
</div>
