{{ attach_library('social_featured_items/paragraph.featured_items')}}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      {% if (content.field_featured_items_title|render is not empty) %}
        <h2 class="title">{{ content.field_featured_items_title }}</h2>
      {% endif %}
      <div class="card__text">
        {{ content.field_featured_items_description }}
      </div>
      {% block content %}
        {{ content.field_featured_items_items }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
