{% extends "node--hero--sky.html.twig" %}

{% block card_prefix %}
{% endblock %}

{% block card_suffix %}
  {% if node_image %}
    <div class="hero-image">
      {{ node_image }}
    </div>
  {% endif %}
{% endblock %}

{% block nodefull_specialfields %}
  <div class="hero-footer__header">
    <div class="hero-footer__text">

      <div class="article__special-fields">

        <div class="article__special-field">
          <svg class="article__special-fields-icon">
            <use xlink:href="#icon-schedule"></use>
          </svg>
          <span class="sr-only">{% trans %}Event date{% endtrans %}</span>
          <span class="inline-center">{{ event_date }}</span>
        </div>

        {% if content.field_event_address|render or content.field_event_location|render %}
          <div class="article__special-field">
            <svg class="article__special-fields-icon">
              <use xlink:href="#icon-location"></use>
            </svg>
            <span class="sr-only">{% trans %}Event location{% endtrans %}</span>
            <span class="inline-center">
            {{ content.field_event_location }}
              {% if content.field_event_address|render is not empty and content.field_event_location|render is not empty %} &bullet; {% endif %}
              {{ content.field_event_address }}
            </span>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="hero-footer__cta">
      <div class="btn-group">
        {{ event_enrollment }}
      </div>
    </div>

  </div>
{% endblock %}
