{% extends "node--featured--sky.html.twig" %}

{% block card_title %}

  <div class="teaser__tag">
    {% if event_type %}
      {{ event_type }}
    {% else %}
      {{ node.type.entity.label() }}
    {% endif %}
  </div>

  {{ title_prefix }}
  <h4{{ title_attributes }} class="teaser__title">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h4>
  {{ title_suffix }}

  {% if visibility_icon and visibility_label %}
    <div class="badge teaser__badge no-padding"
         title="{% trans %}The visibility of this content is set to {{ visibility_label }}{% endtrans %} ">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-{{ visibility_icon }}"></use>
        </svg>
        <span class="badge__label text-gray">{{ visibility_label|capitalize }}</span>
      </span>
    </div>
  {% endif %}

{% endblock %}

{% block card_body %}
  <small class="text-muted">

    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} event {%- endblock -%}
      {%- block field_value %} {{ event_date }} {%- endblock -%}
    {% endembed %}

    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} location {%- endblock -%}
      {%- block field_value -%} {{ content.field_event_location }} {%- endblock -%}
    {% endembed %}

    {% if content.enrolled %}
      <span class="badge badge-secondary teaser__badge">
        {{ content.enrolled }}
      </span>
    {% endif %}

  </small>
{% endblock %}
