{% extends 'node--featured.html.twig' %}

{% block card_hero_image %}
  <div class="img_wrapper">
    <a href="{{ profile_stream_url }}">
      {{ content.field_profile_image }}
    </a>
  </div>
{% endblock %}

{% block card_teaser_type %}
  <div class="teaser__teaser-type">
    <svg class="teaser__teaser-type-icon">
      <use xlink:href="#icon-account_circle"></use>
    </svg>
  </div>
{% endblock %}

{% block card_title %}
  <h4 class="teaser__title">
    <a href="{{ profile_stream_url }}">
      {{ profile_name }}
    </a>
  </h4>
  {{ profile_name_extra }}
{% endblock %}

{% block card_body %}
  <div class="teaser__work">
    {{ 'Principal at Springfield Elementary School' }}
  </div>

  <div class="teaser__address">
    <div class="badge teaser__badge" title="{% trans %}Total amount of likes{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-location"></use>
        </svg>
        <span class="badge__label">
          {{ 'Amsterdam, Netherlands' }}
        </span>
      </span>
    </div>
  </div>
{% endblock %}

{% block card_link %}
  <div class="card__link">
    <a href="{{ profile_stream_url }}" class="btn btn-default btn-block waves-effect waves-btn" rel="bookmark">{{ 'See profile'|t }}
      <span class="visually-hidden">{{ 'about'|t }}{{ label }}</span>
    </a>
  </div>
{% endblock %}
