{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * Links
 *  Link:
 *  - classes
 *  - label
 *  - url
 * @ingroup templates
 */
#}

<ul class="nav navbar-nav navbar-right">
{% for item in links|without('search_block') %}
    <li class="{{ item.classes }}">
        <a href="{{ item.url }}" class="{{ item.link_classes }}" {{ item.link_attributes }} >
          {% if item.icon_image %}
            {{ item.icon_image }}
          {% elseif item.icon_classes %}
            <svg class="icon-white icon-medium pull-left {{ item.icon_classes }}">
              <use xlink:href="#{{ item.icon_classes }}" />
            </svg>
          {% endif %}
          <span class="{{item.title_classes}}">{{ item.title }}</span>
        </a>
        {% if item.below %}
            {% if item.below is iterable %}
              <ul class="dropdown-menu">
                {% for item in item.below %}
                  {% if item.url %}
                    <li class="{{ item.classes }}">
                      <a href="{{ item.url }}" class="{{ item.link_classes }}" {{ item.link_attributes }} >
                        <span class="{{item.title_classes}}">{{ item.title }}</span>
                      </a>
                    </li>
                  {% elseif item.divider %}
                    <li class="{{ item.classes }}"></li>
                  {% else %}
                    <li class="{{ item.classes }}" {{ item.attributes }}>
                      {{ item.tagline }}
                      <strong class="text-truncate"> {{ item.object }} </strong>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
                <ul class="dropdown-menu">
                    {{ item.below }}
                </ul>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
