<div class="card__counter">
  <ul>
    <li>
      <span class="card__counter-quantity">{{ group_events }}</span>
      <span class="card__counter-text">{% trans %}event{% plural group_events %}events{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ group_topics }}</span>
      <span class="card__counter-text">{% trans %}topic{% plural group_topics %}topics{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ group_members }}</span>
      <span class="card__counter-text">{% trans %}member{% plural group_members %}members{% endtrans %}</span>
    </li>
  </ul>
</div>
{% if group_operations_url %}
  <div class="hero-footer__cta">
    <div class="btn-group">
      {% if joined %}
        <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-lg btn-raised dropdown-toggle">{% trans with {'context': 'Is a member'} %}Joined{% endtrans %}<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="{{ group_operations_url }}">{% trans %}Leave group{% endtrans %}</a></li>
        </ul>
      {% elseif closed_group %}
        {% if allow_request %}
          {% if requested %}
            <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-lg btn-raised dropdown-toggle">{% trans %}Request sent{% endtrans %}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="{{ group_operations_url }}">{% trans %}Cancel request{% endtrans %}</a></li>
            </ul>
          {% else %}
            <a href="{{ group_operations_url }}" class="btn btn-accent use-ajax" title="{% trans %}Request to join{% endtrans %}">{% trans %}Request to join{% endtrans %}</a>
          {% endif %}
        {% else %}
          <a href="{{ group_operations_url }}" class="btn btn-accent disabled" title="{{ cta }}">{{ cta }}</a>
        {% endif %}
      {% elseif anonymous_request %}
        <a href="{{ group_operations_url }}" class="btn btn-accent use-ajax" title="{% trans %}Request to join{% endtrans %}">{% trans %}Request to join{% endtrans %}</a>
      {% else %}
        <a href="{{ group_operations_url }}" class="btn btn-accent" title="{% trans %}Join{% endtrans %}">{% trans %}Join{% endtrans %}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

<footer class="card__actionbar">
  <a href="{{ url }}" class="card__link">
    {% trans %}See group information{% endtrans %}
  </a>
</footer>
