{% block group_statistics %}
  <div class="card__counter">
    <ul>
      <li>
        <span class="card__counter-quantity">{{ group_members }}</span>
        <span class="card__counter-text">{% trans %}member{% plural group_members %}members{% endtrans %}</span>
      </li>
      <li>
        <span class="card__counter-quantity">{{ group_events }}</span>
        <span class="card__counter-text">{{ group_events_label }}</span>
      </li>
      <li>
        <span class="card__counter-quantity">{{ group_topics }}</span>
        <span class="card__counter-text">{{ group_topics_label }}</span>
      </li>
    </ul>
  </div>
{% endblock %}
{% block group_statistics_operations %}
  {% if group_operations_url %}
    <div class="hero-footer__cta">
      {# We probably don't need .btn-group here but I can't figure out why it's needed
         so it's only removed for the new user_is_invited set-up #}
      {% if user_is_invited %}
        <div class="dropdown form-group-inline">
      {% else %}
        <div class="btn-group">
      {% endif %}
      {#The above was intentionally not merged with the below!#}
          {% if user_is_invited %}

            <a href="{{ group_invite_accept_operations_url }}" class="form-item btn btn-accent btn-lg btn-raised" title="{% trans %}Join{% endtrans %}">{% trans %}Accept{% endtrans %}</a>
            <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-lg btn-raised waves-effect waves-btn waves-light margin-left-m dropdown-toggle"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ group_invite_decline_operations_url }}">{% trans %}Decline{% endtrans %}</a></li>
            </ul>
          {% elseif joined %}
          <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-block btn-lg btn-raised dropdown-toggle">{% trans with {'context': 'Is a member'} %}Joined{% endtrans %}<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{{ group_operations_url }}">{% trans %}Leave group{% endtrans %}</a></li>
          </ul>
        {% elseif closed_group %}
          {% if allow_request %}
            {% if requested %}
              <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent  btn-block btn-lg btn-raised dropdown-toggle">{% trans %}Request sent{% endtrans %}<span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ group_operations_url }}">{% trans %}Cancel request{% endtrans %}</a></li>
              </ul>
            {% else %}
              <a href="{{ group_operations_url }}" class="btn btn-accent btn-block use-ajax" title="{% trans %}Request to join{% endtrans %}">{% trans %}Request to join{% endtrans %}</a>
            {% endif %}
          {% else %}
            <a href="{{ group_operations_url }}" class="btn btn-accent btn-block disabled" title="{{ cta }}">{{ cta }}</a>
          {% endif %}
        {% elseif anonymous_request %}
          <a href="{{ group_operations_url }}" class="btn btn-accent btn-block use-ajax" title="{% trans %}Request to join{% endtrans %}">{% trans %}Request to join{% endtrans %}</a>
        {% else %}
          <a href="{{ group_operations_url }}" class="btn btn-accent btn-block" title="{% trans %}Join{% endtrans %}">{% trans %}Join{% endtrans %}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block group_statistics_footer %}
  <footer class="card__actionbar">
    <a href="{{ url }}" class="card__link">
      {% trans %}See group information{% endtrans %}
    </a>
  </footer>
{% endblock %}
