{% extends 'group--featured.html.twig' %}

{% block card_title %}
  <div class="teaser__tag">
    {% trans %}Group{% endtrans %}
  </div>
  {{ title_prefix }}
  <h4{{ title_attributes }} class="teaser__title">
    {% if closed_group_lock %}
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-lock"></use>
      </svg>
    {% elseif secret_group_shield %}
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-shield"></use>
      </svg>
    {% endif %}
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h4>
  {{ title_suffix }}
{% endblock %}
