{% extends "group--teaser.html.twig" %}

{% block card_body %}

  {% if content.field_group_location|render or content.field_group_address|render %}
    <div class="teaser__content-line">
      <svg class="teaser__content-type-icon">
        <use xlink:href="#icon-location"></use>
      </svg>
      <span class="teaser__content-text">
        {{ content.field_group_location }}
          {% if content.field_group_location|render is not empty and content.field_group_address|render is not empty %} &bullet;{% endif %}
        {{ content.field_group_address }}
      </span>
    </div>
  {% endif %}

{% endblock %}

{% block card_actionbar %}

  <div class="teaser__tag">
    {{ group_type }}
    {{ group_settings_help }}
  </div>

  <div class="badge teaser__badge">
    <div class="badge__container">
      <svg class="badge__icon">
        <use xlink:href="#icon-user"></use>
      </svg>
      <span class="badge__label">
        {{ group_members }}
      </span>
    </div>
  </div>

  {% if joined %}
    <span class="badge badge-primary badge-status">
      {% trans with {'context': 'Is a member'} %}Joined{% endtrans %}
    </span>
  {% endif %}

  <div class="card__link">
    <a href="{{ url }}" class="btn btn-default" title="{{ label }}">
      {% trans %}Read more{% endtrans %}
    </a>
  </div>

{% endblock %}

