{% extends "node--full.html.twig" %}

{# remove author and publiced date info from pages #}
{% block nodefull_header %}

{% if content.flag_follow_content|render is not empty or node.isSticky() or comment_field_status is not empty or logged_in %}
  <header class="metainfo">

    {% if content.flag_follow_content|render is not empty and logged_in %}
      <div class="metainfo__follow">
        {{ content.flag_follow_content }}
      </div>
    {% endif %}

    {% if node.isSticky() or comment_field_status is not empty or logged_in %}
      <div class="metainfo__brief">

        {% if node.isSticky() %}
          <span class="label label-featured brand-bg-accent">{% trans %}Featured{% endtrans %}</span>
        {% endif %}

        {% if comment_field_status is not empty %}
          <a href="#section-comments" class="badge badge--comment-count" title="{% trans %}Total amount of comments{% endtrans %}">
            <label>
              <svg class="icon-small icon-badge">
                <use xlink:href="#icon-comment"></use>
              </svg>
              <span class="badge--comment-count__number">{{ comment_count }}</span>
            </label>
          </a>
        {% endif %}

        {% if visibility_icon and visibility_label %}
          <div class="badge badge--toggle">
            <label title="{% trans %}The visibility of this content is set to {% endtrans %} {{ visibility_label }}">
              <input type="checkbox">
              <svg class="icon-gray icon-badge-toggle">
                <use xlink:href="#icon-{{ visibility_icon }}"></use>
              </svg>
              <span class="badge--toggle__label">{{ visibility_label }}</span>
            </label>
          </div>
        {% endif %}

      </div>
    {% endif %}

  </header>
{% endif %}

{% endblock %}
