{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  {{ attach_library('socialbase/breadcrumbs') }}
  <nav class="visible-md-block visible-lg-block bg-white">
    <ol class="breadcrumb container">
      {% for item in breadcrumb %}
        <li {{ item.attributes }}>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
