  {#
  /**
  * @file post.html.twig
  * Default theme implementation to present Post data.
  *
  * This template is used when viewing Post pages.
  *
  *
  * Available variables:
  * - content: A list of content items. Use 'content' to print all content, or
  * - attributes: HTML attributes for the container element.
  *
  * @see template_preprocess_post()
  *
  * @ingroup themeable
  */
  #}
<div class="stream-item">
  <i class="stream-icon"></i>

  <div class="card stream-card">
    <div class="card-body">
      <div class="media">
        <div class="media-left">
          {% if author_picture %}
            {{ author_picture }}
          {% endif %}
        </div>
        <div class="media-body">
          {% if content.links|render %}
            {{ content.links }}
          {% endif %}
          <h5 class="media-heading">
            {% if content.user_id %}
              {{- content.user_id -}}
              <br />
            {% endif %}
            <small>{{ date }}</small>
          </h5>
        </div>
      </div>
      <div class="margin-top-s">
        {% if content.field_post %}
          {{ content.field_post }}
        {% endif %}
      </div>
      <div class="card-nested-section">
        {% if content.field_post_comments %}
          {{ content.field_post_comments }}
        {% endif %}
      </div>
    </div>
  </div>

</div>
