{#
/**
 * @file
 * Default theme implementation for visibility option.
 *
 * Available variables:
 * - name: The visibility machine name.
 * - icon: The icon for visibility.
 * - title: The translatable title.
 * - description: The translatable description.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('social_group/visibility-tooltip') }}

<p>
  <span>
    <strong>
      <svg class="icon-small">
        <use xlink:href="#icon-{% if icon %}{{ icon }}{% else %}{{ name }}{% endif %}"></use>
      </svg>
      <span>
        {{ title }}
      </span>
    </strong>
  </span>
  <span>
    {{ description }}
  </span>
</p>
