{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * Links
 *  Link:
 *  - classes
 *  - label
 *  - url
 * @ingroup templates
 */
#}
<a href="/" class="navbar-brand">
  <object id="front-page-logo" type="image/svg+xml" data="/themes/socialbase/images/social-logo-white.svg">Your browser does not support SVG</object>
</a>

<div class="navbar-header">
  <button href="#" data-toggle="collapse" data-target="#menu-dropdown" type="button" aria-haspopup="true" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><i title="menu" class="material-icons">menu</i></button>
  <ul class="nav navbar-nav navbar-right">
  {% for item in links %}
      <li class="{{ item.classes }}">
          <a href="{{ item.url }}" class="{{ item.link_classes }}" {{ item.link_attributes }} >
              <i title="{{ item.label }}" class="material-icons {{ item.icon_classes }}">{{ item.icon_label|lower }}</i>
              <span class="{{item.label_classes}}">{{ item.label }}</span>
          </a>
          {% if item.below %}
              {% if item.below is iterable %}
                <ul class="dropdown-menu">
                  {% for item in item.below %}
                    <li class="{{ item.classes }}">
                      <a href="{{ item.url }}" class="{{ item.link_classes }}" {{ item.link_attributes }} >
                        <span class="{{item.label_classes}}">{{ item.label }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                  <ul class="dropdown-menu">
                      {{ item.below }}
                  </ul>
              {% endif %}
          {% endif %}
      </li>
  {% endfor %}
  </ul>
</div>

<div id="menu-dropdown" aria-expanded="false" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="#">Explore</a></li>
    <li>
      {{ links.search_block }}
    </li>
  </ul>
</div>
