{#
/**
 * @file
 * Theme override for a dropdown element.
 *
 * Available variables:
 * - attributes: HTML attributes for the dropdown tag.
 * - options: The option element children.
 *
 * @see template_preprocess_dropdown()
 */
#}
<div{{ attributes.addClass('dropdown pull-right') }}> {# 'pull-right' #}
    <button id="post-visibility" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle"> <i class="material-icons pull-left">{{ selected_material_icon }}</i><span class="text">{{ selected }} </span><span class="caret"></span></button>
    <ul role="menu" aria-labelledby="post-visibility" class="dropdown-menu dropdown-md">
        <li class="dropdown-header">{{ label }}</li>
        {% for key, child in items %}
            {% if key == active %}
                <li class="list-group-item active">
            {% else %}
                <li class="list-group-item">
            {% endif %}
                    {{ child }}
                </li>
        {% endfor %}
    </ul>
</div>
