{#
/**
 * @file activity.html.twig
 * Default theme implementation to present Activity data.
 *
 * This template is used when viewing Activity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_activity()
 *
 * @ingroup themeable
 */
#}

<a href="{{ full_url }}" class="list-item list-item--link {{ status_class }}">
  <div class="list-item__avatar list-item__avatar--medium">
    {% if actor %}
      {{- actor -}}
    {% endif %}
  </div>
  <div class="list-item__text">
    {% if content %}
      {{- content -}}
    {% endif %}
    <div class="text-muted">{{ date }}</div>
  </div>
</a>
