{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/teaser')}}
<div class="card card--teaser card-with-actionbar">
    <a href="{{ profile_stream_url }}" class="card-image">
      {% if content.field_profile_image %}
          {{ content.field_profile_image }}
      {% endif %}
    </a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="{{ profile_stream_url }}">
            {{ profile_name|render }}
        </a>
      </h4>
        {% if content.field_profile_function|render or content.field_profile_organization|render %}
        <div class="text-gray-dark text-truncate">
          <svg class="teaser-icon">
            <use xlink:href="#icon-business_center"></use>
          </svg>
          <span class="inline-center">
            {{ content.field_profile_function }}
            {% if content.field_profile_organization|render %}
              at
              {{ content.field_profile_organization }}
            {% endif %}
          </span>
        </div>
        {% endif %}

        {% if content.field_profile_profile_tag['#items'] %}
            {% for item in content.field_profile_profile_tag['#items'] %}
                <div class="badge" style="margin-left: 30px;">{{ item.entity.label }}</div>
            {% endfor %}
        {% endif %}

        <div class="card-actionbar">
            {#@todo: replace contact url#}
            <a href="{{ profile_contact_url }}" class="btn btn-flat hidden-xs">
                {% trans %}Contact me {% endtrans %}
            </a>
            <a href="{{ profile_stream_url }}" class="btn btn-flat pull-right">
                {% trans %}View profile {% endtrans %}
            </a>
        </div>
    </div>
</div>
