{{ attach_library('socialbase/photoswipe.image') }}
{{ attach_library('social_post_album/social-post-album--post') }}

{# @see field--field-post-image.html.twig #}
<div class="social-post-album--post-gallery" itemscope itemtype="http://schema.org/ImageGallery"
     data-item-class="photoswipe-gallery-item">
  {% for index, item in items %}
    <div class="post-with-image">
      <a class="use-ajax"
         href="/open/images/{{ fids }}/{{ pid }}"
         data-dialog-type="modal"
         data-dialog-options='{"width":"80%"}'>
        {{ item.content }}
      </a>
    </div>
  {% endfor %}
</div>
