{{ attach_library('core/drupal.dialog.ajax') }}
{{ attach_library('social_post_album/social-post-album--popup') }}

<div class="row social-post-album--popup">
  <div class="social-post-album--popup-slider">
    <div class="social-post-album--popup-slider-wrapper">
      {% for url in url_popup %}
        <div class="post-index-{{ index }} social-post-album--popup-item"
           data-med="{{ url }}">
          <img src="{{ url }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="post-comment-wrapper post-index-{{ index }}">
    <div class="post-message">
      <div class="post-header">
        {{ 'Images posted in album' }} <b>{{ 'Trip to Amsterdam' }}</b>
      </div>
      {{ post }}
    </div>
  </div>

</div>
</div>
