{% extends "node--full.html.twig" %}

{% if display_submitted %}
  {% block metainfo %}
    <header class="metainfo">

      <div class="metainfo__avatar">
        {{ author_picture }}
      </div>

      <div class="metainfo__content">

        {{ author }}

        <div>
          {% if event_type %}
            {{ event_type }}
          {% endif %}
          {% if group_link %}
            {% trans %} in group {% endtrans %}
            {{ group_link }}
          {% endif %}
        </div>

      </div>

      {{ content.links.moderation }}

    </header>
  {% endblock %}
{% endif %}

{# add specific fields to body for events only #}
{% block nodefull_specialfields %}

  <div class="article__special-fields">
    <div class="article__special-field">
      <svg class="article__special-fields-icon"><use xlink:href="#icon-event"></use></svg>
      <span class="sr-only">{% trans %}Event date {% endtrans %}</span>
      <span class="inline-center">
        <strong>{{event_date}}</strong>
      </span>
    </div>
    {% if content.field_event_address|render or content.field_event_location|render %}
      <div class="article__special-field">
        <svg class="article__special-fields-icon"><use xlink:href="#icon-location"></use></svg>
        <span class="sr-only">{% trans %}Event location {% endtrans %}</span>
        <span class="inline-center">
          <strong>{{content.field_event_location}}</strong>
          {% if content.field_event_address|render is not empty and content.field_event_location|render is not empty %} &bullet; {% endif %}
          {{content.field_event_address}}
        </span>
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block nodefull_body %}

  {{ content|without('field_event_address','field_event_location', 'field_event_type', 'book_navigation', 'flag_follow_content', 'field_event_an_enroll', 'links') }}

{% endblock %}
