<div class="comments">
  <div class="post">
    <div class="post-type">{{ type }}</div>
    <div class="post-title"><a href="{{ link }}"><strong>{{ title }}</strong></a></div>
    <div class="post-info"><span>{{ date }}</span> . <strong>{{ author_name }}</strong></div>
    <p> {{ summary }} </p>
  </div>
</div>
