<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>{{ options.title }}</title>
  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <link rel="shortcut icon" href="kss-assets/blue/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="kss-assets/lib/menu.css">
  <link rel="stylesheet" href="kss-assets/lib/autocomplete.css">
  {{ styles|raw }}
</head>

<body id="kss-node" {% if template.isItem %}class="kss-fullscreen-mode"{% endif %}>
<!-- Google Tag Manager-->
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5BGZV3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
{#<script>#}
  {#(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':#}
    {#new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],#}
    {#j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=#}
    {#'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);#}
  {#})(window,document,'script','dataLayer','GTM-5BGZV3');#}
{#</script>#}
<!-- End Google Tag Manager-->
  <a href="#main-content" class="sr-only sr-only-focusable"> Skip to main content </a>


  <nav class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
    <div class="container container--navbar">
      <div class="navbar-header">
        <a class="navbar-brand" href="./" title="Home" rel="home">
          <img src="kss-assets/blue/logo.svg" alt="{{ options.title }}" />
        </a>
        <button href="#" data-toggle="collapse" data-target="#main-navigation" type="button" aria-haspopup="true" aria-expanded="false" class="navbar-toggle collapsed">
          <span> Menu</span>
          <span class="sr-only">
            Toggle navigation
          </span>
        </button>
      </div>

      <div id="main-navigation" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" role="navigation">
          <li class="expanded dropdown"><a href="./">Home</a></li>
          {% for menu_item in menu %}
            <li class="expanded dropdown{% if menu_item.isActive %} active {% endif %}"><a href="section-{{ menu_item.referenceURI }}.html">{{ menu_item.header }}</a></li>
          {% endfor %}
        </ul>
      </div>


    </div>
  </nav>

  <main id="content" class="main-container" role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="container">

      <div class="row layout--with-complementary">

        <aside class="region--complementary">
          <div class="complementary-top" role="complementary">
            <nav id="scrollspy" class="docs-sidebar hidden-print toc-wrapper">
              {% for menu_item in menu %}
                {% if menu_item.isActive and menu_item.children is not empty %}
              <h6 class="text-primary"><span class="kss-nav__name">{{ menu_item.header }}</span></h6>
                  <ul class="nav table-of-contents docs-sidebar">
                      {% for menu_child in menu_item.children %}
                        <li>
                          <a class="kss-nav__menu-link" href="#kssref-{{ menu_child.referenceURI }}">
                  <span class="kss-nav__ref {% if menu_child.isGrandChild %}kss-nav__ref-child{% endif %}">{{ menu_child.referenceNumber }}</span
                  ><span class="kss-nav__name">{{ menu_child.header }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    <li>
                      <a href="#main-content" class="back-to-top">
                        <span>Back to top</span>
                        <svg class="icon-small icon-gray">
                        <use xlink:href="#icon-expand-less"></use>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        </aside>

        <div class="region--content">
            {% if homepage %}
            <div id="kssref-0" class="kss-section kss-section--depth-0 kss-overview kss-style">
              {{ homepage|raw }}
            </div>
            {% else %}

            {#
              Display each section, in order.

              The "root" element comes first in this loop, and can be detected using the
              "loop.first" variable as seen below.
            #}
            {% for section in sections %}
            {% set sectionElement = loop.first ? 'div' : 'section' %}
            <{{ sectionElement }} id="kssref-{{ section.referenceURI }}" class="kss-section kss-section--depth-{{ section.depth }} {% if template.isItem %}is-fullscreen{% endif %}">

              {% if 'Chart' in section.header %}
                <script src="kss-assets/lib/drupal-core.js"></script>
                <script src="kss-assets/lib/raphael.min.js"></script>
                <script src="kss-assets/lib/morris.min.js"></script>
              {% endif %}

              {% set headerElement = (section.depth > 6) ? 'h6' : 'h' ~ section.depth %}
              <{{ headerElement }} class="kss-title kss-title--level-{{ section.depth }}">
              <a href="#kssref-{{ section.referenceURI }}">
                <span class="lead">
                  {{ section.referenceNumber }}
                  <span class="visually-hidden">
                      {{ hasNumericReferences ? '#permalink' : section.reference }}
                    </span>
                </span>
                {{ section.header }}
              </a>
            </{{ headerElement }}>

            {% if section.example %}
              <p class="kss-toolbar">
                {% if not template.isItem %}
                  <a href="#kssref-{{section.referenceURI}}" data-kss-fullscreen="kssref-{{section.referenceURI}}">
                    <span class="kss-toolbar__tooltip">Toggle full screen</span>
                    <svg class="off" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
                      <path class="kss-toolbar__icon-fill" d="M64 0v26l-10-10-12 12-6-6 12-12-10-10zM28 42l-12 12 10 10h-26v-26l10 10 12-12z"></path>
                    </svg>
                    <svg class="on" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
                      <path class="kss-toolbar__icon-fill" d="M28 36v26l-10-10-12 12-6-6 12-12-10-10zM64 6l-12 12 10 10h-26v-26l10 10 12-12z"></path>
                    </svg>
                  </a>
                  <a href="item-{{section.referenceURI}}.html" target="_blank">
                    <span class="kss-toolbar__tooltip">Open in new window</span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
                      <rect x="0" y="20" width="40" height="44" fill="#fff"/>
                      <path class="kss-toolbar__icon-fill" d="M40,64l-40,0l0,-44l40,0l0,44Zm-36,-40l0,36l32,0l0,-36l-32,0Z"/>
                      <rect class="kss-toolbar__icon-fill" x="0" y="20" width="40" height="10"/>
                      <rect x="24" y="0" width="40" height="44" fill="#fff"/>
                      <path class="kss-toolbar__icon-fill" d="M64,44l-40,0l0,-44l40,0l0,44Zm-36,-40l0,36l32,0l0,-36l-32,0Z"/>
                      <rect class="kss-toolbar__icon-fill" x="24" y="0" width="40" height="10"/>
                    </svg>
                  </a>
                {% endif %}
                <a href="#kssref-{{section.referenceURI}}" data-kss-guides="true">
                  <span class="kss-toolbar__tooltip">Toggle example guides</span>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
                    <rect class="kss-toolbar__icon-fill" x="5" y="35" width="5" height="9"/>
                    <rect class="kss-toolbar__icon-fill" x="54" y="21" width="5" height="9"/>
                    <rect class="kss-toolbar__icon-fill" x="54" y="35" width="5" height="9"/>
                    <rect class="kss-toolbar__icon-fill" x="5" y="21" width="5" height="9"/>
                    <rect class="kss-toolbar__icon-fill" x="5" y="0" width="5" height="15"/>
                    <rect class="kss-toolbar__icon-fill" x="35" y="5" width="9" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="20" y="5" width="9" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="0" y="5" width="15" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="54" y="0" width="5" height="15"/>
                    <rect class="kss-toolbar__icon-fill" x="49" y="5" width="15" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="54" y="49" width="5" height="15"/>
                    <rect class="kss-toolbar__icon-fill" x="49" y="54" width="15" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="5" y="49" width="5" height="15"/>
                    <rect class="kss-toolbar__icon-fill" x="0" y="54" width="15" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="35" y="54" width="9" height="5"/>
                    <rect class="kss-toolbar__icon-fill" x="20" y="54" width="9" height="5"/>
                  </svg>
                </a>
                <a href="#kssref-{{section.referenceURI}}" data-kss-markup="true">
                  <span class="kss-toolbar__tooltip">Toggle HTML markup</span>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
                    <path class="kss-toolbar__icon-fill" d="M37.555,46.239l6.103,6.103l20.342,-20.342l-20.342,-20.342l-6.103,6.103l14.24,14.239l-14.24,14.239Z"/>
                    <path class="kss-toolbar__icon-fill" d="M26.445,17.761l-6.103,-6.103l-20.342,20.342l20.342,20.342l6.103,-6.103l-14.24,-14.239l14.24,-14.239Z"/>
                  </svg>
                </a>
              </p>
            {% endif %}


            {% if section.description %}
              <div class="kss-description">
                {{ section.description|raw }}
              </div>
            {% endif %}

            {% for parameter in section.parameters %}
              {% if loop.first %}
                <div class="kss-parameters__title">Parameters:</div>
                <ul class="kss-parameters">
              {% endif %}
              <li class="kss-parameters__item">
                <div class="kss-parameters__name"><code>{{ parameter.name }}</code></div>
                <div class="kss-parameters__description">
                  {{ parameter.description|raw }}
                  {% if parameter.defaultValue %}
                    <div class="kss-parameters__default-value">
                      Defaults to: <code>{{ parameter.defaultValue }}</code>
                    </div>
                  {% endif %}
                </div>
              </li>
              {% if loop.last %}
                </ul>
              {% endif %}
            {% endfor %}


            {% if section.example %}
              <div class="card">
                <header class="card__title card__title--underline">
                  Example{% if section.modifiers is not empty %}s{% endif %}
                </header>
                <div class="card__body">

                  {% if section.modifiers is not empty %}
                    <!--<div class="kss-modifier__default-name kss-style">
                      Default styling
                    </div>-->
                  {% endif %}

                  {% if section.modifiers is empty %}
                    <div class="kss-modifier__example">
                      {{ section.example|raw }}
                      <div class="kss-modifier__example-footer"></div>
                    </div>
                  {% endif %}

                  {% for modifier in section.modifiers %}
                    <div class="kss-modifier__name kss-style">
                      {{ modifier.name }}
                    </div>
                    <div class="kss-modifier__description kss-style">
                      {{ modifier.description|raw }}
                    </div>
                    <div class="kss-modifier__example">
                      {{ modifier.markup|raw }}
                    </div>
                  {% endfor %}

                </div>

              </div>

              {% if section.markup %}
                <details class="card kss-markup kss-style">
                  <summary style="padding: 5px 20px; cursor: pointer;">
                    {% if section.markupFile %}
                      Markup: <code>{{ section.markupFile }}</code>
                    {% else %}
                      Markup
                    {% endif %}
                  </summary>
                   <pre><code class="language-markup" data-language="html">{{ section.markup|escape('html') }}</code></pre>

                </details>
              {% endif %}

            {% endif %}

            {% if section.source.filename %}
              <div class="kss-source kss-style">
                Source: <code>{{ section.source.filename }}</code>, line {{ section.source.line }}
              </div>
            {% endif %}
          </{{ sectionElement }}>
          {% endfor %}
          {% endif %}

        </div>

      </div>

    </div>

  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="container clearfix">
      <nav role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href='https://www.drupal.org/project/social'>Drupal project</a></li>
          <li><a href="https://github.com/goalgorilla/open_social/">Main repository</a></li>
          <li><a href="https://github.com/goalgorilla/open_social/issues/new">Report an issue</a></li>
        </ul>
      </nav>
    </div>
  </footer>

  {% include '../../socialbase/assets/icons/icons.svg' %}

  <!-- SCRIPTS -->

  <script src="kss-assets/lib/drupal-core.js"></script>
  <script src="kss-assets/lib/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="kss-assets/lib/waves.min.js"></script>
  <script src="kss-assets/custom/js/waves.js"></script>
  <script src="kss-assets/kss/kss-fullscreen.js"></script>
  <script src="kss-assets/kss/kss-guides.js"></script>
  <script src="kss-assets/kss/kss-markup.js"></script>
  <script src="kss-assets/kss/prism.js"></script>
  <script src="kss-assets/kss/prism-scss.min.js"></script>
  <script src="kss-assets/styleguide.js"></script>
  <script src="kss-assets/lib/autosize.min.js"></script>
  <script src="kss-assets/custom/js/textarea-autogrow.js"></script>
  <script src="kss-assets/lib/select2.min.js"></script>
  <script src="kss-assets/custom/js/multiselect.js"></script>
  <script src="kss-assets/custom/js/autocomplete.js"></script>
  <script>
    // Escape code
    // ============================================================

    var $lang_markup       = document.querySelectorAll('pre.language-html code'),
        $lang_js           = document.querySelectorAll('script.atomic-js'),
        $lang_jscode       = document.querySelectorAll('pre code.language-javascript'),
        lang_markupsnippet = [],
        lang_jsnippet      = [];

    // Markup
    // order matters!
    // ============================================================

    for(var i = 0, l = $lang_markup.length; i < l; i++) {
      lang_markupsnippet.push(
        $lang_markup[i].innerHTML.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
      );
      $lang_markup[i].innerHTML = lang_markupsnippet[i];
    }

    // JavaScript
    // order matters!
    // ============================================================
    for(var i = 0, l = $lang_jscode.length; i < l; i++) {
      lang_jsnippet.push(
        $lang_jscode[i].innerHTML.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
      );
    }

    for(var i = 0, l = $lang_js.length; i < l; i++) {
      $lang_js[i].innerHTML = lang_jsnippet[i];
    }

    var kssFullScreen = new KssFullScreen({
      idPrefix: 'kss-fullscreen-',
      bodyClass: 'kss-fullscreen-mode',
      elementClass: 'is-fullscreen'
    });
    var kssGuides = new KssGuides({
      bodyClass: 'kss-guides-mode'
    });
    var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
    });

  </script>

    {{ scripts|raw }}

</body>
</html>
