{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<div class="title">
    {{ title }}
</div>

<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td class="container">
            <div class="content">
                <div class="subject">
                  {{ subject }}
                </div>
              <!-- START CENTERED WHITE CONTAINER -->
                <span class="preheader"></span>

                <div class="header">
                    <img src="{{ logo }}" alt="Logo" class="logo" />
                </div>

                <div class="postheader">
                    {{ heading }}
                </div>

                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                {% if header %}
                                <tr>
                                    <td>
                                       {{ header }}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        {{ body|raw }}
                                    </td>
                                </tr>
                                {% if footer %}
                                    <tr>
                                        <td>
                                            {{ footer }}
                                        </td>
                                    </tr>
                                {% endif %}

                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>

                <!-- START FOOTER -->
                <div class="footer">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <strong class="brand">
                                    {% if site_link %}
                                        <a href="{{ base_url }}">{{ site_name }}</a>
                                    {% else %}
                                        {{ site_name }}
                                    {% endif %}
                                </strong>
                                {% if site_slogan %}
                                    <br />
                                    <span class="tagline">{{ site_slogan }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="content-block powered-by">
                                Copyright &copy; {{ "now"|date("Y") }}.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="helper">
    {{ helper|raw }}
</div>
