{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('socialbase/email-preview') }}

<div class="email-preview">
    <div class="email-preview--content">
        <div class="subject">
            {% trans %}Subject{% endtrans %}: {{ subject }}
        </div>

        <div class="email-preview--inside">
            <span class="preheader"></span>

            <div class="header">
                <img src="{{ logo }}" alt="Logo" class="logo" />
            </div>

            {% if heading %}
                <div class="postheader">
                    {{ heading }}
                </div>
            {% endif %}

            <div class="main">
                <div class="wrapper">
                    {% if header %}
                        <div>
                           {{ header }}
                        </div>
                    {% endif %}
                    <div>
                        {{ body|raw }}
                    </div>
                    {% if footer %}
                        <div>
                            {{ footer }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- START FOOTER -->
            <div class="footer">
                <div class="content-block">
                    <strong class="brand">
                        {% if site_link %}
                            <a href="{{ base_url }}">{{ site_name }}</a>
                        {% else %}
                            {{ site_name }}
                        {% endif %}
                    </strong>
                    {% if site_slogan %}
                        <br />
                        <span class="tagline">{{ site_slogan }}</span>
                    {% endif %}
                </div>
                <div class="content-block powered-by">
                    Copyright &copy; {{ "now"|date("Y") }}.
                </div>
            </div>
        </div>
    </div>
    <div class="helper">
        {{ helper|raw }}
    </div>
</div>
