{#
/**
 * @file post.html.twig
 * Default theme implementation to present Post data.
 *
 * This template is used when viewing Post pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_post()
 *
 * @ingroup themeable
 */
#}

{% if style == 'sky' %}
  <div class="card">
    <div class="card__block">
      {% for content in taghierarchy %}
        <div class="group-about__item">
          <p>{{ content.title }}</p>
          <div class="group-about__wrapper">
            {% for group in content.group %}
              <div class="tags-group">
                {% for tag in group.tags %}
                  {% set classes = [
                    'badge badge-default badge--large badge--pill',
                    tag.is_parent ? 'parent-tag',
                    tag.with_children ? 'tag-with-children',
                    tag.is_child ? 'child-tag'
                  ] %}
                  <a {{ attributes.setAttribute('class', classes) }}
                    href="{{ tag.url }}">{{ tag.name }}</a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="card__block">
    {% for content in taghierarchy %}
      <p><strong>{{ content.title }}</strong></p>
      {% for tag in content.tags %}
        <a class="badge badge-default badge--large badge--pill" href="{{ tag.url }}">{{ tag.name }}</a>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
