{{ attach_library('socialbase/hero') }}

{% if hero_styled_image_url %}
<div style="background-image: url('{{ hero_styled_image_url }}')" class="cover cover-img cover-img-gradient hero__full hero__banner hero__banner-footer-bottom">
  {% else %}
  <div class="cover hero__full hero__banner hero__banner-footer-bottom">
    {% endif %}
    <div class="container">
      <div class="hero__bgimage-overlay"></div>

      {% if node_edit_url %}
        <div class="hero-action-button">
          <a href="{{ node_edit_url }}" title="{% trans %}Edit content{% endtrans %}"
             class="btn btn-raised btn-default btn-floating">
            <svg class="icon-gray icon-medium">
              <use xlink:href="#icon-edit"></use>
            </svg>
          </a>
        </div>
      {% endif %}

      <div class="cover-wrap">

        <span class="badge badge-secondary badge--large">
           {{ node_type }}
        </span>

        {{ title_prefix }}
        {% if label %}
          <h1{{ title_attributes.addClass(section_class) }}>{{ label }}</h1>
        {% endif %}
        {{ title_suffix }}

        <div class="hero-footer">
          <div class="hero-footer__top">
            <div class="hero-footer__text">
              {{ content.body }}
            </div>
            <div class="hero-footer__date">
            <div class="badge badge-secondary badge--large">{{ date }}</div>
            {% if visibility_icon and visibility_label %}
              <div class="badge badge--large"
                   title="{% trans %}The visibility of this content is set to {% endtrans %} {{ visibility_label }}">
                    <span class="badge__container">
                      <svg class="badge__icon">
                        <use xlink:href="#icon-{{ visibility_icon }}"></use>
                      </svg>
                      <span class="badge__label">&nbsp;</span>
                      <span class="badge__label badge__label--description">{{ visibility_label|capitalize }}</span>
                    </span>
              </div>
            {% endif %}
          </div>
          </div>

        </div>

      </div>

      <div class="hero-footer hero-footer__bottom">
        <div class="hero-footer__list">
          {% block metaengage %}
            <div class="meta-engage">
              {% if comment_field_status is not empty %}
                <a href="#section-comments" class="badge badge--large"
                   title="{% trans %}Total amount of comments{% endtrans %}">
              <span class="badge__container">
                <svg class="badge__icon">
                  <use xlink:href="#icon-comment_thicker"></use>
                </svg>
                <span class="badge__label">
                  {{ comment_count }}
                </span>
                <span class="badge__label badge__label--description">
                  {% if comment_count == 1 %}
                    {% trans %}comment{% endtrans %}
                  {% else %}
                    {% trans %}comments{% endtrans %}
                  {% endif %}
                </span>
              </span>
                </a>
              {% endif %}

              {{ content.like_and_dislike }}

              {% if content.flag_follow_content|render is not empty and logged_in %}
                <div class="meta-follow">
                  {{ content.flag_follow_content }}
                </div>
              {% endif %}
            </div>
          {% endblock %}
        </div>

        {{ content.shariff_field }}
      </div>
    </div>

  </div>