{% extends "node--teaser.html.twig" %}

{% block card_body %}

  <div class="teaser__content-line topic__content-line">
    <div class="teaser__published">
      <div class="teaser__published-author">
        {% if original_authors %}
          {% for item in original_authors %}
            <span>{{ item }}</span>
          {% endfor %}
        {% else %}
          {{ author_name }}
        {% endif %}
      </div>

      <div class="teaser__published-date">
        <span> &nbsp; &bullet; &nbsp; </span>
        {% if original_date %}
          {{ original_date }}
        {% else %}
          {{ date }}
        {% endif %}
      </div>

      <div class="teaser__published-lang">
        {% if original_languages %}
          &nbsp; &bullet;  &nbsp;
          {% for item in original_languages %}
            {% if loop.last %}
              <span>{{ item }}</span>
            {% else %}
              <span>{{ item }}</span>&nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </div>

  {% if content.group_name %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} group {%- endblock -%}
      {%- block field_value -%} {{ content.group_name }} {%- endblock -%}
    {% endembed %}
  {% endif %}

{% endblock %}
