{{ attach_library('socialbase/teaser') }}
{{ attach_library('socialbase/page-node') }}

{% set classes = [
  'card',
  'teaser',
  'teaser--wide',
] %}

<div{{ attributes.addClass(classes) }}>
  {% if status_label %}
    <div class="node--unpublished__label">
      {{ status_label }}
    </div>
  {% endif %}

  <div class='teaser__image'>

    {% if no_image %}
      {% block card_teaser_type %}
        <a href="{{ url }}">
          <div class="teaser__teaser-type">
            <svg class="teaser__teaser-type-icon">
              <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
            </svg>
          </div>
        </a>
      {% endblock %}
    {% endif %}

    {% block card_image %}
      {{ content.field_event_image }}
    {% endblock %}
  </div>
  <div class="teaser__date">
    <div class="teaser__date-wrap">
      {{ start_day }}
      <span>{{ start_month }}</span>
    </div>
  </div>

  <div class='teaser__body'>
    <div class="teaser__content">
      <h4{{ title_attributes }} class="teaser__title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h4>

      {% block card_body %}

        {% if event_date %}
          {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%} event {%- endblock -%}
            {%- block field_value %} {{ event_date }} {%- endblock -%}
          {% endembed %}
        {% endif %}

        {% if content.field_event_location %}
          {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%} location {%- endblock -%}
            {%- block field_value -%} {{ content.field_event_location }} {%- endblock -%}
          {% endembed %}
        {% endif %}

      {% endblock %}
    </div>

    <div class="card__actionbar">
      {{ content.links }}
    </div>

  </div>

</div>
