{{ attach_library('socialbase/teaser') }}
{{ attach_library('socialbase/page-node') }}

{% set classes = [
  'teaser',
  view_mode == 'teaser' ? 'card',
  view_mode == 'activity' ? 'teaser--stream',
  view_mode == 'activity_comment' ? 'teaser--stream',
  node.isPromoted() ? 'promoted',
  node.isSticky() ? 'sticky',
  not node.isPublished() ? 'teaser--unpublished',
] %}

<div{{ attributes.addClass(classes) }}>
  {% if status_label %}
    <div class="node--unpublished__label">
      {{ status_label }}
    </div>
  {% endif %}

  <div class='teaser__image'>
    {% block card_image %}
      {{ content.field_event_image }}
    {% endblock %}
  </div>
  <div class="teaser__icon">
    <svg class="teaser__content-type-icon">
      <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
    </svg>
  </div>
  <div class='teaser__body'>
    <div class="teaser__content">
      <h4{{ title_attributes }} class="teaser__title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h4>

      {% block card_body %}

        {% if event_date %}
          {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%} event {%- endblock -%}
            {%- block field_value %} {{ event_date }} {%- endblock -%}
          {% endembed %}
        {% endif %}

        {% if content.field_event_location %}
          {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%} location {%- endblock -%}
            {%- block field_value -%} {{ content.field_event_location }} {%- endblock -%}
          {% endembed %}
        {% endif %}

      {% endblock %}
    </div>

    <div class="card__actionbar">
      {{ content.links }}
    </div>

  </div>

</div>
