{% extends 'group--featured.html.twig' %}

{% block card_title %}

  <div class="teaser__content-line teaser__content-header">
    <div class="teaser__published">
      <div class="teaser__tag">
        {{ group_type }}
        {{ group_settings_help }}
      </div>

      {% if joined %}
        <span class="badge teaser__badge badge-secondary">
          {% trans with {'context': 'Is a member'} %}Joined{% endtrans %}
        </span>
      {% endif %}
    </div>
  </div>

  {{ title_prefix }}
  {% if not page %}
    <h4{{ title_attributes }} class="teaser__title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
  {% endif %}
  {{ title_suffix }}

{% endblock %}

{% block card_body %}
  <small class="text-muted">
    {% if content.field_group_location|render or content.field_group_address|render %}
      <div class="teaser__content-line">
        <svg class="teaser__content-type-icon">
          <use xlink:href="#icon-location"></use>
        </svg>
        <span class="teaser__content-text">
          {{ content.field_group_location }}
            {% if content.field_group_location is not empty and content.field_group_address|render is not empty %} &bullet;{% endif %}
          {{ content.field_group_address }}
        </span>
      </div>
    {% endif %}
  </small>

{% endblock %}

{% block card_link %}

  <div class="card__actionbar-side">
    <div class="teaser__content-line">
      <svg class="teaser__content-type-icon">
        <use xlink:href="#icon-group"></use>
      </svg>
      <span class="teaser__content-text">
        {{ group_members }}
      </span>
    </div>
  </div>

  <div class="card__link">
    <a href="{{ url }}" rel="bookmark" class="btn btn-default">{{ 'Read more'|t }}
      <span class="visually-hidden">{{ 'about'|t }}{{ label }}</span>
    </a>
  </div>
{% endblock %}
