{% extends 'group--teaser.html.twig' %}
{% set attributes = attributes.addClass('teaser--wide') %}

{% block card_image %}

    <div class="teaser__image-wrapper">
      <div class="img_wrapper">
        {% if content.field_group_image %}
          <a href="{{ url }}">
            {{ content.field_group_image }}
          </a>>
        {% else %}
          <hr class="no-feature-image">
        {% endif %}
      </div>
    </div>

    <div class="teaser__icon">
      <svg class="teaser__content-type-icon">
        <use xlink:href="#icon-group"></use>
      </svg>
    </div>

{% endblock %}

{% block card_teaser_type %}
  <a href="{{ url }}" title="{{- title_prefix.teaser_tag|render|striptags|trim|capitalize -}} : &nbsp; {{- label|render|striptags|trim -}}">
    <div class="teaser__teaser-type">
      <svg class="teaser__teaser-type-icon">
        <use xlink:href="#icon-group-white"></use>
      </svg>
    </div>
  </a>
{% endblock %}
