{% extends "node--featured.html.twig" %}

{% block card_title %}
  <div class="teaser__header">
    <div class="teaser__tag">
      {{ node.type.entity.label() }}
    </div>

    {% if content.enrolled %}
      <span class="badge badge-secondary badge-status">
        {{ content.enrolled }}
      </span>
    {% endif %}
  </div>

  {{ title_prefix }}
    <h4{{ title_attributes }} class="teaser__title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
  {{ title_suffix }}

{% endblock %}

{% block card_actionbar %}

  {% if visibility_icon and visibility_label %}
    <div class="badge teaser__badge no-padding" title="{% trans %}The visibility of this content is set to {% endtrans %} {{ visibility_label }}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-{{ visibility_icon }}"></use>
        </svg>
        <span class="badge__label text-gray">{{ visibility_label|capitalize }}</span>
      </span>
    </div>
  {% endif %}

  {% if comment_count %}
    <a href="{{ url }}#section-comments" class="badge teaser__badge" title="{% trans %}Total amount of comments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-comment"></use>
        </svg>
        <span class="badge__label">{{ comment_count }}</span>
      </span>
    </a>
  {% endif %}

  {% if likes_count is not empty %}
    <div class="badge teaser__badge" title="{% trans %}Total amount of likes{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-like"></use>
        </svg>
        <span class="badge__label">
          {{ likes_count }}
        </span>
      </span>
    </div>
  {% endif %}

  {% block card_link %}
    <div class="card__link">
      <a href="{{ url }}" rel="bookmark" class="btn btn-default btn-block">{{ 'Read more'|t }}
        <span class="visually-hidden">{{ 'about'|t }}{{ label }}</span>
      </a>
    </div>
  {% endblock %}

{% endblock %}
