{% extends 'node--featured.html.twig' %}

{% block card_teaser_type %}

  {% if no_image %}
    {% if status_label %}
      <div class="node--unpublished__label">
        {{ status_label }}
      </div>
    {% endif %}

    <a href="{{ url }}">
      <div class="teaser__teaser-type">
        <svg class="teaser__teaser-type-icon">
          <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
        </svg>
      </div>
    </a>
  {% endif %}

{% endblock %}

{% block card_hero_image %}

  <div class="img_wrapper">
    {% if content.field_topic_image|render %}
      {{ content.field_topic_image }}
    {% else %}
      <hr class="no-feature-image">
    {% endif %}
  </div>

  <div class="teaser__icon">
    <svg class="teaser__content-type-icon">
      <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
    </svg>
  </div>
{% endblock %}лил░
