{% extends "node--wide-teaser.html.twig" %}

{% block card_image %}
  <div class="teaser__image-wrapper">
      <div class="img_wrapper">
        {{ parent() }}
      </div>

    {% block card_teaser_type %}
      {{ parent() }}
    {% endblock %}
  </div>

  <div class="teaser__date">
    <div class="teaser__date-wrap">
      {{ start_day }}
      <span>{{ start_month }}</span>
    </div>
  </div>
{% endblock %}

{% block card_title %}

  <div class="teaser__header">

    {{ title_prefix.teaser_tag }}

    {% if visibility_icon and visibility_label %}
      <div class="badge teaser__badge no-padding"
           title="{% trans %}The visibility of this content is set to {{ visibility_label }}{% endtrans %} ">
        <span class="badge__container">
          <svg class="badge__icon">
            <use xlink:href="#icon-{{ visibility_icon }}"></use>
          </svg>
          <span class="badge__label text-gray">{{ visibility_label|capitalize }}</span>
        </span>
      </div>
    {% endif %}
  </div>

  {{ title_prefix|without('teaser_tag') }}
  <h4{{ title_attributes }} class="teaser__title">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h4>
  {{ title_suffix }}

{% endblock %}

{% block card_actionbar %}

  {% if content.enrollments_count is not empty %}
    <div class="badge teaser__badge" title="{% trans %}Total amount of enrollments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-person"></use>
        </svg>
        <span class="badge__label">
          {{ content.enrollments_count }}
        </span>
      </span>
    </div>
  {% endif %}

  {% block card_link %}
    {{ parent() }}
  {% endblock %}

{% endblock %}
