{% extends 'node--featured.html.twig' %}

{% block card_teaser_type %}

  {% if no_image %}
    {% if status_label %}
      <div class="node--unpublished__label">
        {{ status_label }}
      </div>
    {% endif %}

    <a href="{{ url }}">
      <div class="teaser__teaser-type">
        <svg class="teaser__teaser-type-icon">
          <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
        </svg>
      </div>
    </a>
  {% endif %}

{% endblock %}

{% block card_hero_image %}

  <div class="img_wrapper">
    {% if content.field_topic_image|render %}
      {{ content.field_topic_image }}
    {% else %}
      <hr class="no-feature-image">
    {% endif %}
  </div>

  <div class="teaser__icon">
    <svg class="teaser__content-type-icon">
      <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
    </svg>
  </div>
{% endblock %}

{% block card_body %}

  <div class="teaser__content-line">
    <div class="teaser__published">
      <div class="teaser__published-author">
        {% if original_authors %}
          {% for item in original_authors %}
            <span>{{ item }}</span>
          {% endfor %}
        {% else %}
          {{ author_name }}
        {% endif %}
      </div>

      <div class="teaser__published-date">
        <span> &nbsp; &bullet; &nbsp; </span>
        {% if original_date %}
          {{ original_date }}
        {% else %}
          {{ date }}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card__actionbar">
    <div class="card__actionbar-side">
      <div class="teaser__tag">
        {{ content_type }}
      </div>

      <div class="teaser__published-lang">
        {% if original_languages %}
          {% for item in original_languages %}
            {% if loop.last %}
              <span>{{ item }}</span>
            {% else %}
              <span>{{ item }}</span>&nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

    </div>
    <div class="card__actionbar-side right-side">
      {{ content.links }}
    </div>
  </div>
{% endblock %}
