{% extends 'profile--featured.html.twig' %}

{% block card_title %}
  <div class="teaser__tag">
    {% trans %}Member{% endtrans %}
  </div>
  <h4 class="teaser__title">
    <a href="{{ profile_stream_url }}">
      {{ profile_name }}
    </a>
  </h4>
  {{ profile_name_extra }}
{% endblock %}

{% block card_link %}
  <div class="card__link">
    <a href="{{ profile_stream_url }}" rel="bookmark" class="btn btn-default">{{ 'Read more'|t }}
      <span class="visually-hidden">{{ 'about'|t }}{{ label }}</span>
    </a>
  </div>
{% endblock %}
