{% extends 'node--featured.html.twig' %}

{% set attributes = attributes.addClass('teaser-profile') %}

{% block card_image %}
  {% if profile_hero_styled_image_url %}
    <div style="background-image: url('{{ profile_hero_styled_image_url }}')" class="teaser__image">
  {% else %}
    <div class="teaser__image">
  {% endif %}
      {% block card_hero_image %}
        <div class="img_wrapper">
          <a href="{{ profile_home }}">
            {{ content.field_profile_image }}
          </a>
        </div>
      {% endblock %}
    </div>
{% endblock %}

{% block card_teaser_type %}
  <a href="{{ profile_home }}">
    <div class="teaser__teaser-type">
      <svg class="teaser__teaser-type-icon">
        <use xlink:href="#icon-account_circle"></use>
      </svg>
    </div>
  </a>
{% endblock %}

{% block card_title %}
  <h4 class="teaser__title">
    <a href="{{ profile_home }}">
      {{ profile_name }} {{ profile_name_extra }}
    </a>
  </h4>
{% endblock %}

{% block card_body %}{% endblock %}
