{% extends 'node--wide-teaser.html.twig' %}

{% set attributes = attributes.addClass('teaser--wide-profile') %}

{% block card_image %}
  <div class="teaser__image">
    {% block card_hero_image %}
      {% if content.field_profile_image %}
        <span class="teaser__image-wrapper">
          <a href="{{ profile_stream_url }}">{{ content.field_profile_image }}</a>
        </span>
      {% endif %}
    {% endblock %}

    {% block card_teaser_type %}
      <div class="teaser__teaser-type">
        <svg class="teaser__teaser-type-icon">
          <title>{{- node.bundle|clean_class|capitalize -}} : &nbsp; {{- label|render|striptags|trim -}}</title>
          <use xlink:href="#icon-user_white"></use>
        </svg>
      </div>
    {% endblock %}

    <div class="teaser__icon">
      <svg class="teaser__content-type-icon">
        <use xlink:href="#icon-user"></use>
      </svg>
    </div>
  </div>
{% endblock %}

{% block card_title %}

  <h4 class="teaser__title">
    <a href="{{ profile_stream_url }}">
      {{ profile_name }} {{ profile_name_extra }}
    </a>
  </h4>

  {% if content.field_profile_function|render or content.field_profile_organization|render %}
    <div class="teaser__content-line">
      <span class="teaser__content-text">
        {% if content.field_profile_organization|render %}
          {{ '@function at @organization'|t({'@function': content.field_profile_function|render, '@organization': content.field_profile_organization|render}) }}
        {% else %}
          {{ content.field_profile_function }}
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}




