{% if content %}
  <footer class="site-footer" role="contentinfo">
    <div class="container row">
      <div class="footer-logo">
        <a href="{{ path('<front>') }}" title="{% trans %} Home {% endtrans %}" rel="home">
          <img src="{{ base_path }}/{{ active_theme_path() }}logo-footer.svg" alt="{{ site_name }}"/>
        </a>
      </div>
      <div class="footer-content">
        {{ content }}
      </div>
    </div>
  </footer>
{% endif %}