{#
/**
 * @file
 * Theme override for a dropdown element.
 *
 * Available variables:
 * - attributes: HTML attributes for the dropdown tag.
 * - options: The option element children.
 *
 * @see template_preprocess_dropdown()
 */
#}
<div{{ attributes.addClass('dropdown') }}>
    {# See PostForm.php we set edit_mode to true so people can't actually change the dropdown button for edit mode. #}
        <button id="post-visibility" type="button" {% if edit_mode %}disabled{% endif %} data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle  icon-before">
          <svg class="icon-black icon-small">
            <use id="btnicon" xlink:href="/{{ path_to_socialbase }}/assets/icons/icons.svg#icon-{{ selected_icon }}"></use>
          </svg>
          <span class="text">{{ selected }} </span>
          {% if not edit_mode %}<span class="caret"></span>{% endif %}
        </button>
  {% if not edit_mode %}
    <ul role="menu" aria-labelledby="post-visibility" class="dropdown-menu dropdown-menu--visibility">
      <li class="dropdown-header">{{ label }}</li>
      {% for key, child in items %}
          {% if key == active %}
              <li class="list-item list-item--visibility list-item--active">
          {% else %}
              <li class="list-item list-item--visibility">
          {% endif %}
                  {{ child }}
              </li>
      {% endfor %}
    </ul>
    {% endif %}
</div>
