{#
/**
 * @file
 * Theme override for a dropdown element.
 *
 * Available variables:
 * - attributes: HTML attributes for the dropdown tag.
 * - options: The option element children.
 *
 * @see template_preprocess_dropdown()
 */
#}
{{ attach_library('socialbase/dropdown-slick-select')}}

{{ label }}
<div{{ attributes.addClass('dropdown slick-select-wrapper') }}>
  <button id="{{ attributes.id }}" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle">
    {% if default_label is not empty  %}
    <svg class="icon-small hidden">
      <use class="btnicon" xlink:href="#icon-{{ selected_icon }}"></use>
    </svg>
    <span class="text">{{ default_label }} </span>
    {% else %}
    <svg class="icon-small">
      <use class="btnicon" xlink:href="#icon-{{ selected_icon }}"></use>
    </svg>
    <span class="text">{{ selected }} </span>
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul role="menu" aria-labelledby="{{ attributes.id }}" class="dropdown-menu dropdown-menu--group-visibility">
    {% for key, child in items %}
      <li class="list-item list-item--visibility {% if key == active %}list-item--active{% endif %}">
        <a href="" role="button">
          {{ child }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
