{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/form--password')}}

{% if attributes.hasClass('card') %}
  <form{{ attributes.removeClass('card') }}>
    <div class="card">
      <div class="card-body">
        {{ children }}
    </form>

    {#
      The card is closed function socialbase_form_alter in the info_text suffix
    #}

{% else %}

<form{{ attributes }}>
  {{ children }}
</form>

{% endif %}
