{{ attach_library('socialbase/teaser') }}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>

    {% if (content.field_featured_item_description|render is not empty) %}
      <div class="teaser__info" data-toggle="popover" data-container="body" data-html="true"
           data-placement="bottom" data-content='{{ content.field_featured_item_description }}'>
        <svg>
          <use xlink:href="#icon-information"></use>
        </svg>
      </div>
    {% endif %}
    <div class="teaser__image">
      <div class="img_wrapper">
        {{ content.field_featured_item_image }}
      </div>
    </div>

    <div class="teaser__body">

      {% if (content.field_featured_item_title|render is not empty) %}
        <h2 class="teaser__title">{{ content.field_featured_item_title }}</h2>
      {% endif %}

      {% if (content.field_featured_item_link|render is not empty) %}
        <footer class="card__actionbar">
          <div class="card__link btn btn-default">
            {{ content.field_featured_item_link }}
          </div>
        </footer>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
