{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">
        <div class="card card__column">
          <div class="card__left">
            <h2 class="card__title">
              {{ content.field_quote_title }}
            </h2>
            <div class="card__text">
              {{ content.field_quote_description }}
            </div>
          </div>
          <div class="card__right">
            <div class="card__header">
              {{ content.field_quote_member_title }}
              {{ content.field_quote_member_subtitle }}
            </div>
            <div class="card__info">
              <div class="teaser__image">
                <div class="img_wrapper">
                  {{ content.field_quote_member_image }}
                </div>
              </div>
              <div class="teaser__content">
                <h4 class="teaser__title">
                  {{ content.field_quote_member_name }}
                </h4>
                <div class="teaser__text">
                  {{ content.field_quote_member_position }}
                </div>
              </div>
            </div>
            <div class="card__quote">
              <blockquote>
                <svg width="30" height="24" viewBox="0 0 30 24">
                  <defs>
                    <path id="18jga"
                          d="M869.107 891h-10.905v-7.934c0-3.237.278-5.777.834-7.619.557-1.842 1.591-3.5 3.105-4.973 1.514-1.474 3.422-2.632 5.724-3.474l2.135 4.579c-2.173.737-3.732 1.763-4.677 3.079-.944 1.316-1.442 3.066-1.494 5.25h5.278zm-18.201 0H840v-7.934c0-3.21.278-5.744.834-7.599.557-1.855 1.585-3.52 3.086-4.993 1.5-1.474 3.415-2.632 5.744-3.474l2.134 4.579c-2.173.737-3.732 1.763-4.676 3.079-.945 1.316-1.443 3.066-1.495 5.25h5.279z"/>
                  </defs>
                  <g>
                    <g transform="translate(-840 -867)">
                      <use fill="#4a4a4a" xlink:href="#18jga"/>
                    </g>
                  </g>
                </svg>
                <p>
                  {{ content.field_quote_quote }}
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
