{#
/**
 * @file
 * Theme override for a dropdown element.
 *
 * Available variables:
 * - attributes: HTML attributes for the dropdown tag.
 * - options: The option element children.
 *
 * @see template_preprocess_dropdown()
 */
#}
{{ attach_library('dropdown/dropdown_slick') }}
{%
  set classes = [
    'slick-select',
  ]
%}

{#<div{{ attributes }}>#}
{#  {{ children }}#}
{#</div>#}

<select{{ attributes.addClass(classes) }}>
  {% for option in options %}
    <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }} data--description="{{ option.description }}">{{ option.label }}</option>
  {% endfor %}
</select>

{#<select id="demo-htmlselect">#}
{#  <option value="0" data-imagesrc="https://i.imgur.com/XkuTj3B.png"#}
{#          data-description="Description with Facebook">Facebook</option>#}
{#  <option value="1" data-imagesrc="https://i.imgur.com/8ScLNnk.png"#}
{#          data-description="Description with Twitter">Twitter</option>#}
{#  <option value="2" selected="selected" data-imagesrc="https://i.imgur.com/aDNdibj.png"#}
{#          data-description="Description with LinkedIn">LinkedIn</option>#}
{#  <option value="3" data-imagesrc="https://i.imgur.com/kFAk2DX.png"#}
{#          data-description="Description with Foursquare">Foursquare</option>#}
{#</select>#}


{#<div{{ attributes.addClass(classes) }}>#}
{#  <button id="field-group-visibility" type="button" {% if edit_mode %}disabled{% endif %} data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle">#}
{#    <span class="text">{{ selected }} </span>#}
{#    {% if not edit_mode %}<span class="caret"></span>{% endif %}#}
{#  </button>#}
{#  #}{# See PostForm.php we set edit_mode to true so people can't actually change the dropdown button for edit mode. #}
{#  {% if not edit_mode %}#}
{#    <ul role="menu" aria-labelledby="group-visibility" class="dropdown dropdown-menu--visibility">#}
{#      {% for key, child in items %}#}
{#        <li class="list-item list-item--visibility {% if key == active %}list-item--active{% endif %}">#}
{#          <a href="" role="button">#}
{#            {{ child }}#}
{#          </a>#}
{#        </li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
{#</div>#}