{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.

 * - author_name
 * - created_date
 * - created_date_formatted
 * - topic_type
 * - hero_node
 */
#}
{% if hero_node %}
<div class="cover-wrap">
{% endif %}

{{ title_prefix }}

{% if title %}
    <h1{{ title_attributes.addClass(section_class) }}>{{ title }}</h1>
{% endif %}

{{ title_suffix }}

{% if hero_node %}
  <div class="hero-footer">
    <div class="row row-md-center">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        {{ hero_node }}

        {% if author_name and created_date_formatted %}
            {% trans %}By {{ author_name }} on {{ created_date_formatted }}{% endtrans %}
        {% endif %}

        {% if topic_type %}
            <i class="material-icons">label</i>
            {{ topic_type }}
        {% endif %}

        {% if group_link %}
            <i class="custom-icons icon-group"></i>
            {{ group_link }}
        {% endif %}

      </div>

      <div class="col-xs-12 col-md-3">
        {# insert enroll action block here #}
      </div>

    </div>
  </div>
{% endif %}

{% if hero_node %}
</div>
{% endif %}
