{% extends "node--teaser.html.twig" %}

{% block card_body %}

  {% embed "node--teaser__field.html.twig" %}
    {%- block field_icon -%} account_circle {%- endblock -%}
    {%- block field_value %}
      <div class="teaser__published">
        <div class="teaser__published-date"> {{ date }} &bullet; </div>
        <div class="teaser__published-author"> {{ author_name }} </div>
      </div>
    {%- endblock -%}
  {% endembed %}

  {% if topic_type %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} label {%- endblock -%}
      {%- block field_value -%} {{ topic_type }} {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if content.group_name %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} group {%- endblock -%}
      {%- block field_value -%} {{ content.group_name }} {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if content.body %}
    {% embed "node--teaser__body.html.twig" %}
      {% block field_body %} {{ content.body }} {% endblock %}
    {% endembed %}
  {% endif %}

{% endblock %}
