{#
/**
 * @file
 * Default theme implementation for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 *
 * @ingroup themeable
 */
#}
{% if data.preview %}
  <div{{ attributes.addClass('row margin-bottom-m').removeClass('clearfix') }}>
    <div class="preview col-sm-4 col-md-3">
      {{ data.preview }}
    </div>
    <div class="data col-sm-8 col-md-9 image-widget-data">
      {# Render widget data without the image preview that was output already. #}
      {{ data|without('preview', 'image_crop') }}
    </div>
  </div>
  {{ data.image_crop }}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    {{ data }}
  </div>
{% endif %}
