{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
{{ attach_library('socialbase/file') }}
{% spaceless %}
    <span class="{{ classes }}">
         <span class="file-icon">
            <svg class="icon-gray icon-small">
                <use xlink:href="#icon-insert_drive_file"></use>
            </svg>
        </span>
        <span class="file-link">{{ url }}</span>
        <span class="file-size">{{ file_size }}</span>
        <span class="file-size">{{ count }}</span>
    </span>
{% endspaceless %}
