{#
/**
* @file
* Theme override for a link to a file for nodes.
*
* Available variables:
* - attributes: The HTML attributes for the containing element.
* - link: A link to the file.
* - node_icon: An icon.
*
* @ingroup templates
*
* @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
*/
#}
{{ attach_library('socialbase/file') }}
{% spaceless %}

  <li class="node-file">
    <a class="node-file__link" href="{{ link.url.uri }}" title="{{ 'Open file in a new window'|t }}" target="_blank">
      <span class="node-file__title">{{ link.text|replace({'_': ' '}) }}</span>
      <span class="node-file__type">
        <img class="node-file__icon" src="/{{ path_to_socialbase }}/assets/images/mime-icons/icon_1_{{ node_icon }}_x16.png" srcset="/{{ path_to_socialbase }}/assets/images/mime-icons/icon_1_{{ node_icon }}_x32.png 2x" alt="{{ node_icon }}" />
        <span class="node-file__size">{{ file_size }}</span>
      </span>
    </a>
  </li>

{% endspaceless %}