{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}


<div class="card__block card__block--list">

  <a href="{{ profile_home }}" class="card__text list-item">
    <span class="list-item__avatar">
      {{ content.field_profile_image }}
    </span>

    <span class="list-item__text">
      {{ profile_name }} {{ profile_name_extra }}
    </span>

  </a>

  <div class="list-item__organization">
    {{ content.field_profile_organization }}
  </div>

  <div class="list-item__function">
    {{ content.field_profile_function }}
  </div>

</div>
