{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{% if profile_edit_url %}
  <div class="hero-action-button">
    <a href="{{ profile_edit_url }}" title="Edit profile information" class="waves-effect waves-light btn btn-raised btn-default btn-floating">
      <svg class="icon-gray icon-medium">
        <use xlink:href="#icon-edit"></use>
      </svg>
    </a>
  </div>
{% endif %}

<div class="cover-wrap">
  <h1 class="page-title">
    {{ profile_name }}
  </h1>
  <br />

  {{ content.field_profile_image }}

  {% if (content.field_profile_function|render or content.field_profile_organization|render) %}
    <div class="hero-footer">
      <div class="hero-footer__text">
        {% if content.field_profile_function|render %}
          <strong>{{ content.field_profile_function|render }}</strong>
        {% endif %}
        {% if (content.field_profile_function|render and content.field_profile_organization|render) %}
        &nbsp;-&nbsp;
        {% endif %}
        {% if content.field_profile_organization|render %}
          {{ content.field_profile_organization|render }}
        {% endif %}
      </div>

    </div>
  {% endif %}

  {# render other fields that developers might add #}
  {{ content|without('field_profile_first_name', 'field_profile_last_name', 'field_profile_image', 'field_profile_function', 'field_profile_organization') }}
</div>
