{{ attach_library('socialbase/hero') }}

<div class="card__info-user">
  {{ content.field_profile_image }}
  <h2 class="card__info-user--name">
    {{ profile_name }} {{ profile_name_extra }}
  </h2>

  <div class="card__info-user--about">
    <div class="card__info-user--about-job">{{ content.field_profile_function }}</div>
    {{ content.field_profile_organization }}
    <div class="card__info-user--about-address">{{ content|without('field_profile_first_name', 'field_profile_last_name', 'field_profile_image', 'field_profile_function', 'field_profile_organization') }}</div>
  </div>
</div>

<div class="card__counter">
  <ul>
    <li>
      <span class="card__counter-quantity">{{ profile_events }}</span>
      <span class="card__counter-text">{% trans %}event{% plural profile_events %}events{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ profile_topics }}</span>
      <span class="card__counter-text">{% trans %}topic{% plural profile_topics %}topics{% endtrans %}</span>
    </li>
    <li>
      <span class="card__counter-quantity">{{ profile_groups }}</span>
      <span class="card__counter-text">{% trans %}group{% plural profile_groups %}groups{% endtrans %}</span>
    </li>
  </ul>
</div>

{% if profile_contact_label == 'private_message' %}
  <div class="hero-footer__cta">
    <a href="{{ profile_contact_url }}" class="btn btn-primary">
      {% trans %} Private message {% endtrans %}
    </a>
  </div>
{% elseif profile_edit_url %}
  <div class="hero-footer__cta">
    <a href="{{ profile_edit_url }}" title="{% trans %}Edit profile information{% endtrans %}" class="btn btn-default">
      {% trans %} Edit profile {% endtrans %}
    </a>
  </div>
{% endif %}

<footer class="card__actionbar">
  <a href="{{ profile_stream_url }}" class="card__link">
    {% trans %} See full stream {% endtrans %}
  </a>
</footer>
