{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}


<div class="media media-middle">
  <div class="media-left">
    {% if content.field_profile_image %}
      <a href="{{ profile_home }}" class="avatar">
        {{ content.field_profile_image }}
      </a>
    {% endif %}
  </div>

  <div class="media-body">
    <h6 class="list-group-item-heading no-margin">
      <a href="{{ profile_home }}">
        {{ profile_name }} {{ profile_name_extra }}
      </a>
    </h6>
  </div>

</div>
