{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
<div class="avatar">
  <a href="{{ profile_home }}" title="{{ profile_name|striptags }}">

    {% if profile_image_url %}
      <img src="{{ profile_image_url }}" class="img-responsive" alt="{{ profile_name|striptags }}">
    {% else %}
      {# if default_image #}
      {{ content.field_profile_image }}
    {% endif %}

  </a>
</div>
