{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/teaser') }}
<div class="card__block card__block--list">
  <div class="card__text list-item">

    <a href="{{ profile_home }}" class="list-item__avatar list-item__avatar--medium">
      {{ content.field_profile_image }}
    </a>

    <div class="list-item__text">
      <a href="{{ profile_home }}" title="{{ 'View Profile'|t }}">{{ profile_name }}</a>

      {% if content.field_profile_function|render and content.field_profile_organization|render %} <br /> {% endif %}
      {{content.field_profile_function}}

      {% if content.field_profile_function|render and content.field_profile_organization|render %} &bullet; {% endif %}

      {{ content.field_profile_organization }}

    </div>

  </div>
</div>
