{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{% if group_hero_styled_image_url %}
  <div style="background-image: url('{{ group_hero_styled_image_url }}')" class="cover cover-img cover-img-gradient">
{% else %}
  <div class="cover">
{% endif %}
  {% if group_edit_url %}
    <div class="hero-action-button">
      <a href="{{ group_edit_url }}"  title="Edit group" class="btn btn-default btn-floating waves-effect waves-circle">
        <svg class="icon-gray icon-medium">
          <use xlink:href="#icon-edit"></use>
        </svg>
      </a>
    </div>
  {% endif %}
  <div class="cover-wrap">
    <h1 class="page-title"> {{ content.label }}</h1>
    <div class="hero-footer">
      <div class="row row-md-center">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
        </div>
        {% if group_operations_url %}
          <div class="col-xs-12 col-md-3">
            <div class="btn-group">
              {% if joined %}
                <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-lg btn-raised dropdown-toggle">Joined<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="{{ group_operations_url }}">{% trans %}Leave group{% endtrans %}</a></li>
                </ul>
              {% else %}
                <a href="{{ group_operations_url }}" class="btn btn-accent btn-lg btn-raised dropdown-toggle" title="Join">{% trans %}Join{% endtrans %}</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
