{{ attach_library('socialbase/page-node') }}

{% set classes = [
  'card',
  node.isPromoted() ? 'node--promoted',
  not node.isPublished() ? 'node--unpublished',
] %}

{% if details_label %}
  <h4 class="section-title section-title-node">
    {{ details_label }}
  </h4>
{% endif %}

<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('card__body') }}>

    {% if not node.isPublished() %}
      <div class="node--unpublished__label">{% trans %} unpublished {% endtrans %}</div>
    {% endif %}

    {% if display_submitted %}
      {% block metainfo %}
        <header class="metainfo">

          <div class="metainfo__avatar">
            {{ author_picture }}
          </div>

          <div class="metainfo__content">

            {{ author }}
            <span class="metainfo__published-date">&bullet; {{ created_date_formatted }} </span>
            <div>
              {% if group_link %}
                {% trans %} in group {% endtrans %}
                {{ group_link }}
              {% endif %}
            </div>

          </div>

        </header>
      {% endblock %}
    {% endif %}

    {% if node.isSticky() or comment_field_status is not empty or logged_in %}
      {% block metaengage %}
        <div class="meta-engage">

          {% if content.flag_follow_content|render is not empty and logged_in %}
            <div class="meta-follow">
              {{ content.flag_follow_content }}
            </div>
          {% endif %}

          {% if node.isSticky() %}
            <span class="badge badge-accent badge--large">{% trans %}Featured{% endtrans %}</span>
          {% endif %}

        </div>
      {% endblock %}
    {% endif %}

    {% block nodefull_body %}
      {{ content|without('flag_follow_content') }}
    {% endblock %}

  </div>

</article>

{% block nodefull_below_content %}
  {{ below_content }}
{% endblock %}
