{% extends "node--teaser.html.twig" %}

{% block card_actionbar %}

<div class="teaser__tag">
  {{ node.type.entity.label() }}
</div>

  {% if comment_count %}
    <a href="{{ url }}#section-comments" class="badge teaser__badge" title="{% trans %}Total amount of comments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-comment"></use>
        </svg>
        <span class="badge__label">{{ comment_count }}</span>
      </span>
    </a>
  {% endif %}

  {% if likes_count is not empty %}
    <div class="badge teaser__badge" title="{% trans %}Total amount of likes{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-like"></use>
        </svg>
        <span class="badge__label">
          {{ likes_count }}
        </span>
      </span>
    </div>
  {% endif %}

  {% if visibility_icon and visibility_label %}
    <div class="badge teaser__badge" title="{% trans %}The visibility of this content is set to {% endtrans %} {{ visibility_label }}">
      <span class="badge__container">
          <svg class="badge__icon">
            <use xlink:href="#icon-{{ visibility_icon }}"></use>
          </svg>
          <span class="badge__label text-gray">{{ visibility_label|capitalize }}</span>
      </span>
    </div>
  {% endif %}

  {% if content.enrolled %}
    <span class="badge badge-primary teaser__badge badge-status">
     {{ content.enrolled }}
    </span>
  {% endif %}

  {{ content.links }}

{% endblock %}
